{{ range .Site.Params.education.list }}
{{ if .thesis_url}}
  <h4 style="text-decoration: underline;"><a href="{{.thesis_url}}" target="_blank">{{ .degree }}</a></h4>
{{ else }}
<h4 ><b>{{ .degree }}</b></h4>
{{end}}
  <p {{ if .thesis_title }}class="mb-0"{{ end }}>
    {{ .dates }} &middot; {{ .college }}
  </p>
  {{ if .thesis_url2 }}
    <p>
      <b>Idea:</b> {{ .thesis_title }}<br>
      <b>View Pitch: </b>
      <a href="{{.thesis_url2}}" target="_blank"><i>Click here</i></a>
    </p>
  {{ else if .thesis_url }}
    <p>
      <b>Idea:</b> {{ .thesis_title }}<br>
      <b>Detailed Description: </b>
      <a href="{{.thesis_url}}" target="_blank"><i>Click here</i></a>
    </p>
  {{ else }}
    <p><b>Idea: </b>{{ .thesis_title }}</p>
  {{ end }}
{{ end }}